body{
    a{
        img.btn-wpp{
            position: fixed;
            bottom: 20px;
            right: 20px;
            width: 100px;
            height: 100px;
            z-index: 100;
        }
    }
}