
    .minha-navbar {
        background-color: #34596f;
    }

    .navbar .navbar-brand,
    .navbar .nav-link {
    color: #fff !important;

    }

    nav{
        div{
            a{
                img{
                    width: 80px;
                    height: auto;
                }
            }
        }
    }