@media(max-width: 993px){
    body{
        section{
          
            div.card-produtos {
                display: flex;
                flex-direction: column;
                width: 100%;
                align-items: center;
                
                a{
                    margin-bottom: 20px;
                }
            }
        }
    }
}

@media(max-width: 600px){
    header{
        div{
            img{
                display: none;
            }
        }
    }
}